.card{
  float:left;
  widtch:32%;
  margin:5px;
  text-align:center;
  box-shadow:0 4px 8px #01418b;
}

body {
  font-family: Verdana;
  margin: 2em 1em;
  line-height: 1.5em;
  font-size: 16px;
  background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
